<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Outcomes Toolkit</title>


</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>







<body>


  <header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12 text-center">
        <h1>Outcomes Toolkit</h1>
      </div>
    </div>
  </div>
  </header>




    <h2>
        <a href="/" >Home</a>
        <a href="/jobs" >Jobs</a>
        <a href="/salaries" >Salaries</a>
        <a href="/plots" >Plots</a>
        <div style="text-align:right">
         <img src="static/images/IH.png" alt="ironhack" style='padding:0px; border:0px solid #021a40; width: 20%; height: 20%'>
        </div>
    </h2>



    <div>Ironhack Outcomes Toolkit</div>
{% block content %}{% endblock %}
</body>


</html>
