{% extends "index.html" %}

{% block content %}
<div class="container">
<h1>Jobs over time</h1>
<form id='submit_params' method="POST" action="{{ url_for('proceso') }}">
<div class="form-group">
<table class="table">
    <tr>
        <td>
            <table class="table" border=0 >
          </table>
        </td>
        <td>{% for table in tables %}
            {{ table|safe }}
            {% endfor %}
        </td>
    </tr>
     <td>{{model_results}}<BR>{{model_plot}}
        </td>
    <tr>
</table>
</div>
</form>
{% endblock %}



         
