{% extends "base.html" %}

{% block content %}

<div class="container">
<h1>Salaries</h1>
<form id='submit_params' method="POST" action="{{ url_for('salaries') }}">
<div class="form-group">
<table class="table">
    <tr>
        <td>
            <table class="table" border=0 >
                <tr>
                    <td><label for="">Country</label></td>
                    <td>
                     <SELECT class="selectpicker" name="s_country">
						<option value="{{s_country}}" selected>{{s_country}}</option>
						<option value="Brazil">Brazil</option>
						<option value="France">France</option>
						<option value="Germany">Germany</option>
						<option value="Mexico">Mexico</option>
						<option value="Netherland">Netherland</option>
						<option value="Portugal">Portugal</option>
						<option value="Spain">Spain</option>
						<option value="USA">USA</option>
				      </SELECT>
					</td>
                </tr>
          </table>
        </td>
        <td>{% for table in tables %}
            {{ table|safe }}
            {% endfor %}
        </td>
    </tr>
    <td><button id="button_trigger" style="width:100%" class="btn btn-primary" type="submit" style="width: 100px; height: 30px;">GO!</button></td><td></td><td></td>
    <tr>
</table>
</div>
</form>



{% endblock %}
